In [1]:
import numpy as np
import pandas as pd

In [138]:
##构造数据
##dataframe初始化

# d1 = pd.DataFrame(np.random.randn(5,4),columns=['uuid','imp_num','clk_num','imp_per'],index=['a','b','c','d','e'])

# d2=pd.DataFrame({'a':[1,2,3],'b':[4,5,7]})

# d3=pd.DataFrame.from_dict({'ax':[1],'bx':[2]})

# d4=pd.DataFrame({'ay':1,'by':2}.items(),columns=['xx','yy'])

# d5=pd.DataFrame.from_items([('hi',[1,3]),('hello',[4,5])])


## 基础数据集
d1 =pd.DataFrame({'requestid':['1','2','3','4'],
                 'uuid':['a','b','a','c'],
                 'imp':[1,2,2,3],
                  'clk':[3,4,1,2]
                 })
d1.groupby(['uuid','requestid']).sum()

d1.groupby(['uuid']).sum()

d1['imp'].groupby(d1['uuid']).sum()

#按dict映射来进行分组
m = {'requestid':'a1','imp':'a2','clk':'a2','uuid':'a4'}
# s=pd.Series(m)

#groupby的时候注意聚合的值能否进行选定的操作
d1.groupby(m,axis=1).count()


#与上面的写法等价
d1.groupby(d1['uuid']).sum()

#映射某列的数据，然后分组
a=np.array([])
for i,v in d1['uuid'].items():
    if v == 'a' or v =='c':
        a=np.append(a,'tom')
    elif v=='b':
        a=np.append(a,'jack')

# a=['tom','jack','tom','tom']
d1.groupby(a).sum()

#可以使用预定义的聚合函数
d1.groupby(['uuid']).last()

#自定义聚合函数
def gap(arr):
    return arr.sum()

#d1.groupby(['uuid']).describe()

#聚合函数agg必须要返回一个标量
d1.groupby(['uuid']).agg(gap)

#增加一列
# d1['ctr']=d1['clk']/d1['imp']

#df之间进行join
d1_mean=d1.groupby(['uuid']).mean().add_prefix('mean_')
pd.merge(d1,d1_mean,left_on='uuid',right_index=True)

#apply返回一个标量或者DataFrame,是一种更加一般的处理函数
d2 =pd.DataFrame({'requestid':['r1','r2','r3','r4','r5','r6','r7'],
                 'uuid':['a','b','a','c','b','d','b'],
                 'imp':[1,2,2,3,2,1,8],
                  'clk':[3,4,1,2,1,1,1]
                 })
def get_top_n(df,colname,n=1):
    return df.sort_values(by=colname)[-n:]

get_top_n(d2,'imp',n=2)

d2.groupby(['uuid']).apply(get_top_n,'imp',n=2)

#分桶qcut vs cut
#cut 追求值的区间长度，每个桶都是一样
#qcut 追求桶内个数一样
#对于qcut按照等频方式分箱，且要求分位点处的取值唯一。当有多个元素有相同的分位点处取值时，就会报错
#添加.rank(method=‘first’)，相同取值元素的rank不同


d3 =pd.DataFrame({
                 'imp':[1,2,3,4,5,6,8,9],
                  'clk':[3,4,1,2,1,1,1,1]
                 })
factor = pd.cut(d3['imp'], 4)
print(factor)

def get_max(df):
    return df.mean()

d3.groupby(factor).apply(get_max)

0    (0.992, 3.0]
1    (0.992, 3.0]
2    (0.992, 3.0]
3      (3.0, 5.0]
4      (3.0, 5.0]
5      (5.0, 7.0]
6      (7.0, 9.0]
7      (7.0, 9.0]
Name: imp, dtype: category
Categories (4, interval[float64]): [(0.992, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0]]

              imp       clk
imp
(0.992, 3.0]  2.0  2.666667
(3.0, 5.0]    4.5  1.500000
(5.0, 7.0]    6.0  1.000000
(7.0, 9.0]    8.5  1.000000